


<div class="container" style="border: 1opx;">
    <div class="row align-items-start">
      <div class="col">
        <div>
            <hr>
            <strong>Create Group</strong>
            <input type="text" id="gname" class="form-control" #gname> &nbsp;
            <br>
            <button (click)="addgroup(gname.value); gname.value='' " class="btn btn-primary">Create Group</button>
        </div>
        
        <div>
            <div>
                <hr>
                <strong>Add User</strong>
                
            </div>
            
        

            <div class="dropdown">
               <select (change)="tagchange($event)">
                   <option >Select Group</option>
                   <option *ngFor="let g of getgrps()">{{g.gname}}</option>
               </select>
               
              </div>
              <br>

            <!-- <input type="text"  class="form-control" #gnameu> &nbsp; -->
            <input type="text" id="user" class="form-control" #user> &nbsp;
            <br>
            <button (click)="adduser(user.value); user.value=''" class="btn btn-primary">Add User</button>
        </div>
      </div>
      <div class="col">
          <hr>
            <strong>Send Message To a Group</strong>
            <div class="dropdown">
                <select (change)="grp($event)">
                    <option >Select Group</option>
                    <option *ngFor="let g of getgrps()">{{g.gname}}</option>
                </select>
                
               </div>
               
                <br>
                <br>
                <br>
                <hr>
               <strong>Select User</strong>
               <div class="dropdown">
                   <select (change)="tagchangeusr($event)">
                       <option >Not Selected </option>
                       <option *ngFor="let i of getgrp()">{{i}}</option>
                   </select>
                   
                  </div>
                  <br>

                


            
           
            <input type="text" id="msg" class="form-control" #msg> &nbsp;
            <br>
            <button (click)="sendmsg(msg.value); msg.value=''" class="btn btn-primary">Send Message</button>

           
        
      </div>
      <div class="col">
        <div>
            
        </div>
        <hr>
        <Strong>Group Chat of  {{this.smgrp}} :</Strong>
        <div style="border: 10px">
        <table class="table table-sm" *ngFor="let g of getgrpchat()">
            <tr>
                <td>{{g.user}} : {{g.msg}}</td>
            </tr>
        </table>
        </div>
      </div>
    </div>
   




